<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="noindex">
  <title><%= titulo %></title>
  <link rel=icon href=/img/favicon_2.webp>
  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
  <!-- <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css"> -->
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/dist/css/adminlte.min.css">
  <!-- Theme style -->
  <!-- <link rel="stylesheet" href="/css/index.css"> -->
  <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/admin-lte@3.1/dist/css/adminlte.min.css"> -->
  <!-- overlayScrollbars -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/1.13.0/css/OverlayScrollbars.min.css">
<!--   <link rel="stylesheet" href="/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">-->  
  <!-- JavaScript -->
<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
<!-- CSS -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
<!-- Default theme -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css"/>
<!-- Semantic UI theme -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/semantic.min.css"/>
<!-- Bootstrap theme -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/bootstrap.min.css"/>
<!-- SweetAlert -->
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<!-- FontAwesome 6.1 -->
<script src="https://kit.fontawesome.com/9996d70cf2.js" crossorigin="anonymous"></script>

<script>
  var mtcaptchaConfig = {
    "sitekey": "MTPublic-3xPYgoH6T",
    "theme": "blackmoon",
    "lang": "es",
    "challengeType": "imageonly",
    "autoFormValidate": true,
    "customStyle": {
            "cardColor": "#393C44",
            "cardShadowColor": "rgba(0,0,0,0.07)",
            "cardBorder": "1px solid #30333C",
            "placeHolderColor": "#BBBBBB",
            "inputTextColor": "#DDDDDD",
            "msgTextColor": "#222222",
            "invalidMsgTextColor": "#FF3200",
            "inputBackgroundColor": "#393C44",
            "inputBorderColor": {
                  "byDefault": "#999999",
                  "hover": "#BABABA",
                  "active": "#BBAA99"
                 },
            "buttonIconColor": {
                  "refresh": "#DDDDDD",
                  "verify": "#55CAF1",
                  "audio": "#DDDDDD",
                  "audiofocus": "#FFFFFF"
                 }
           }
   };
 (function(){var mt_service = document.createElement('script');mt_service.async = true;mt_service.src = 'https://service.mtcaptcha.com/mtcv1/client/mtcaptcha.min.js';(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(mt_service);
 var mt_service2 = document.createElement('script');mt_service2.async = true;mt_service2.src = 'https://service2.mtcaptcha.com/mtcv1/client/mtcaptcha2.min.js';(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(mt_service2);}) ();
</script>

<script>
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
</script>

</head>